* {
  user-select: none;
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 0.3fr 0.3fr 0.5fr 2fr 0.3fr;
}

.background-picture {
  grid-column: 1 / -1;
  grid-row: 2 / 5;
  width: 100%;
  height: 100%;
  background-image: url("/img/woods.jpg");
  background-size: cover;
  background-position: center;
  background-position: bottom;
  z-index: -1;
}

.background-picture-bottom {
  background-position: center;
}

#headline {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  place-self: center;
  margin-bottom: 0;
  padding: 20px;
  font-size: 4rem;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  color: gold;
}

.toolbar {
  grid-column: 1 / 4;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  align-items: center;
}

.toolbar ul {
  display: flex;
  flex: 1;
  justify-content: space-between;
  list-style: none;
  color: gold;
  font-size: 1.2rem;
  font-weight: 600;
}

.toolbar ul li:last-child {
  margin-right: 30px;
}

.toolbar-item5:hover {
  cursor: pointer;
}

.spellbar {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-content: center;
}

.spells {
  display: flex;
  align-self: center;
  gap: 30px;
}

.action {
  background-color: black;
  padding: 10px;
  margin: 0;
  border: 3px solid gold;
  width: 200px;
  border-radius: 5px;
  color: gold;
  font-size: 1.2rem;
  font-weight: 600;
}

.action:hover {
  cursor: pointer;
  background-color: rgb(50, 50, 50);
}

.message-area {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: rgba(0, 0, 0, 0.9);
  color: gold;
  font-size: 1.6rem;
  font-weight: 600;
  border: 8px solid gold;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-area > * {
  margin: 20px;
}

.character-selection-area {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background-color: rgba(0, 0, 0, 0.9);
  color: gold;
  font-size: 1.6rem;
  font-weight: 600;
  border: 8px solid gold;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img {
  width: auto;
  height: 300px;
}

.character img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}
.character-name {
  margin-bottom: 20px;
}

.warrior {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.mage {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.character-creation-area {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  background-color: rgba(0, 0, 0, 0.9);
  color: gold;
  font-size: 1.6rem;
  font-weight: 600;
  border: 8px solid gold;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.character-creation-name {
  grid-column: 2 / 3;
  justify-self: center;
  position: relative;
  bottom: 305px;
  font-size: 2rem;
}

.character-creation-image {
  grid-column: 2 / 3;
  justify-self: center;
  position: relative;
  bottom: 300px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 55px 0 0 30px;
  align-self: center;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
}

legend {
  font-size: 2rem;
}

label {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}

input[type="text"] {
  border-style: none;
  background-color: rgb(80, 80, 80);
  border-radius: 3px;
  height: 30px;
  font-size: 1.2rem;
  font-weight: 600;
  width: 200px;
  color: gold;
  margin-top: 5px;
  text-indent: 10px;
}

.weapon-img {
  grid-column: 1 / 2;
  width: auto;
  height: 115px;
}

.weapon-img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#create-button {
  grid-column: 2 / 3;
  width: 150px;
  height: 60px;
  background-color: black;
  color: gold;
  border: 3px solid gold;
  justify-self: center;
  margin-top: 60px;
  font-size: 1.3rem;
  font-weight: 600;
  transition: ease 0.5s;
}

#create-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease 0.5s;
  border-color: gold;
}

.weapon-selection-area {
  display: flex;
  gap: 10px;
}

.weapon-selection-heading {
  margin-top: 20px;
  font-size: 1.5rem;
  position: relative;
  top: 20px;
}

input[id="weapon"] {
  position: relative;
  bottom: 20px;
}

.battle-field {
  grid-column: 1 / -1;
  grid-row: 3 / 5;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
}

.computer-img {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  height: 450px;
  /* position: relative;
  top: 25px; */
  justify-self: center;
  align-self: center;
  width: auto;
}

.computer-health-bar-outer {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: end;
  width: 200px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 3px solid gold;
}

.computer-health-bar-inner {
  height: 100%;
  background-color: red;
}

.computer-health-numbers {
  position: fixed;
  font-size: 1.5rem;
  z-index: 1;
}

.computer-combat-log {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  justify-self: end;
  align-self: end;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 40%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: rgb(80, 80, 80);
  font-size: 1.2rem;
}

.player-combat-log {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: start;
  align-self: end;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 40%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: rgb(80, 80, 80);
  font-size: 1.2rem;
}

.computer-combat-text {
  padding: 10px;
  margin: 0 0 0 100px;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  width: 250px;
  height: 50px;
  color: gold;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px;
}

.player-combat-text {
  padding: 10px;
  margin: 0 0 0 100px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  width: 350px;
  height: 50px;
  color: gold;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px;
}

.red-font {
  color: red;
}

.player-health-bar-outer {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: end;
  width: 200px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 3px solid gold;
}

.player-health-bar-inner {
  height: 100%;
  background-color: red;
}

.player-health-numbers {
  position: fixed;
  font-size: 1.5rem;
  z-index: 1;
}

.character-placement {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
  width: auto;
  height: 400px;
}

#battle-button,
.play-again-button {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  place-self: center;
  padding: 10px;
  font-size: 2.2rem;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  color: gold;
  border: 5px groove gold;
  z-index: 1;
}

.button-new-game {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  place-self: center;
  padding: 10px;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  color: gold;
  border: 5px groove gold;
  z-index: 1;
}

#battle-button:hover,
.play-again-button:hover,
.button-new-game:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.dead {
  transform: rotate(90deg);
  position: relative;
  top: 60px;
}

.dead180 {
  transform: rotate(180deg);
  position: relative;
  top: 220px;
}

#chest {
  width: auto;
  height: 200px;
}
